.container {
  max-width: 700px;
  margin: 2rem auto;
  padding: 1rem 2rem;
  border-radius: 12px;
}

h1 {
  font-size: 2rem;
  color: #2c3e50;
  margin-bottom: 1rem;
}

h2 {
  margin-top: 2rem;
  font-size: 1.25rem;
  color: aliceblue;
}

h3 {
  margin-top: 2rem;
  font-size: 5rem;
  color: whitesmoke;
  font-weight: 900;
}

p {
  font-size: 1rem;
  margin: 0.5rem 0;
  color: #2c3e50;
}

.image {
  margin-top: .5rem;
  max-width: 250px;
  height: auto;
  border-radius: 8px;
  border: 3px solid whitesmoke;
}

select {
  margin-top: 1rem;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 6px;
  border: 1px solid #ccc;
}

button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #2c3e50;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

button:hover {
  background-color: #3e576f;
}

.error {
  color: red;
  margin-top: 0.5rem;
}

.backLink {
  display: inline-block;
  margin-top: 2rem;
  text-decoration: none;
  color: #0077cc;
}

.backLink:hover {
  text-decoration: underline;
}

.text {
    color: whitesmoke;
}